venv
*.pyc
chaos/chaos_pb2.py
chaos/kirin_pb2.py
chaos/gtfs_realtime_pb2.py
chaos/clients_tokens.json

# IDE / text editor
.idea
*~

# Tests
.coverage
coverage.xml
lettucetests.xml
nosetest_chaos.xml
pylint.log

# Docker
docker/postgres/data
*.local*
