alembic==1.1.0
aniso8601==8.0.0
certifi==2019.9.11
Flask==1.1.1
Flask-Caching==1.7.2
Flask-Migrate==2.5.2
git+https://github.com/CanalTP/flask-restful.git@de0a47c139a52e5805af309dd723e0c87d2bf6d7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
gevent==1.4.0
honcho==1.0.1
httmock==1.3.0
jsonschema==3.0.2
kombu==4.6.4
git+https://github.com/CanalTP/lettuce.git
mock==3.0.5
nose==1.3.7
protobuf==3.9.1
psycopg2==2.8.3
pytz==2019.2
requests==2.22.0
retrying==1.3.3
SQLAlchemy==1.3.8
unicodecsv==0.14.1
Werkzeug==0.15.6
redis==3.3.8